* {
    box-sizing: border-box;
}

html, body, #app {
    margin: 0;
    padding: 0;
    height: 100%;
}

.loading {
    color: rgb(90, 90, 255);
    height: 5em;
    width: 5em;
    border-width: 0.5em;
}